# ABC Tunes GUI Notebook
Interactive interface.

Initiate the database

In [2]:
import manager
bm = manager.BookManager('abc_books')
bdb = manager.BookDatabase('books.db')
books = bm.search()
tunes = bm.parse(books)
bdb.setup()
bdb.insert_bulk(tunes)
bdb.get_all_tunes()

   tune_id  reference  book_no                title     rhythm   key
0        1          1        1        Down the Hill        air  Ador
1        2          1        1               An Dro     an dro  Ador
2        3          1        1  Bluebell Polka, The  barndance     G
3        4          1        1        Fil et Bobine    bourree     D
4        5          1        1              Bucimis  buchimish  Ador

    tune_id  reference  book_no                    title     rhythm   key
0         1          1        1            Down the Hill        air  Ador
1         2          1        1                   An Dro     an dro  Ador
2         3          1        1      Bluebell Polka, The  barndance     G
3         4          1        1            Fil et Bobine    bourree     D
4         5          1        1                  Bucimis  buchimish  Ador
..      ...        ...      ...                      ...        ...   ...
77       78        600        2      The old grey gander       Reel    Am
78       79        700        2  After the sun goes down       Reel    Em
79       80        800        2       Miss Fahey's fancy       Reel  Glyd
80       81        900        2             Autumn woods   Hornpipe     G
81       82       1000        2            High-caul cap    Unknown    Em

[82 rows x 6 columns]

Search for rhythm

In [ ]:
search = input("Enter rhythm to search for: ")
bdb.get_tunes_by_rhythm(search)

Search by title (case insensitive)

In [ ]:
search = input("Enter search term: ")
bdb.search_tunes(search)

Search by book number

In [3]:
search = input("Enter book number to search for: ")
bdb.get_tunes_by_book(search)

   tune_id  reference  book_no                title     rhythm   key
0        1          1        1        Down the Hill        air  Ador
1        2          1        1               An Dro     an dro  Ador
2        3          1        1  Bluebell Polka, The  barndance     G
3        4          1        1        Fil et Bobine    bourree     D
4        5          1        1              Bucimis  buchimish  Ador

Empty DataFrame
Columns: [tune_id, reference, book_no, title, rhythm, key]
Index: []